@import '../../colors.sass'

#card   
  height: 100%
  display: flex
  flex-direction: column
  overflow-y: auto


#contentHeader
  background-color: $common-elements
  color: $black

html
  height: 100%

#cardWrapper
  padding: 0 !important
  background-color: $common-background
  display: flex
  overflow: hidden
  flex-direction: column
  flex-grow: 1

#rightContainer
  display: flex
  flex-direction: column
  flex-grow: 1
  flex-shrink: 1

.content
  padding: 20px
  margin: 10px
  height: 1300px
  overflow-y: auto
  background: $common-elements

.pageGap
  margin-top: 4px
  margin-bottom: auto

