.loginCard
  width: 420px
  height: 300px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)

.login-container
  height: 100vh;

.login-card-wrapper
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;



 

  







 
  