.headerMenuLinkInternships::after
  content: '|'
  font-size: 22px
  font-weight: 50
  margin-right: 10px
  margin-left: 10px

.headerMenuLink
  text-decoration: none
  color: #0082ca
  margin-right: 10px

.activeLink
  font-weight: 500
