.hederMenuLinkInternships::after
    content: '|'
    font-size: 22px
    font-weight: 50
    margin-right: 10px
    margin-left: 10px

.hederMenuLinkInternships
     text-decoration: none
     color: #0082ca
    
.hederMenuLinkProfile
    text-decoration: none
    margin-top
    color: #0082ca