.internshipsHeader
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-bottom: 20px 
    margin-left: 25px
    margin-right: 25px

    @media screen and (max-width: 899px) 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

.internshipsMenu
    width: 280px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    @media screen and (max-width: 899px)
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: space-between

.menuItemsBox
    display: flex
    flex-direction: row
    justify-content: space-between
