@import '../../colors'
    
.main
  padding: 0
  background-color: $common-background 
  display: flex
  overflow: hidden
  flex-direction: column
  flex-grow: 1 
  height: 100vh

.main__unclenched
  margin-left: -300px
  width: 100vw

.main__compressed
  width: calc(100vw - 300px)
  margin-left: 0
