.MuiCard-root
    width: 300px
    height: 270px
    margin-bottom: 30px
    padding: 0px

.MuiCardContent-root
    padding: 5px

.internshipCardButton::after 
    content: '|'
    font-size: 22px
    font-weight: 50
    margin-right: 2px
    margin-left: 10px