.ag-theme-alpine
    width: 100%
    height: calc(100% - 50px)

    @media screen and (max-width: 1199px)
        height: calc(100% - 100px)

.candidatesPageHeader
    display: flex
    flex-direction: row
    align-items: center
    padding-top: 5px
    padding-bottom: 5px
    justify-content: space-between

    @media screen and (max-width: 1199px)
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: space-between

    @media screen and (max-width: 500px)
        display: flex
        align-items: flex-start
        flex-direction: column
        justify-content: space-between
        margin-left: 5px

.candidatesPageButton
    white-space: nowrap

.candidatesButtons
    display: flex
    flex-direction: row
    align-items: center

    @media screen and (max-width: 1199px)
        display: flex
        align-items: flex-end
        flex-direction: column
        margin-bottom: 5px

.filterFormControlLabel
    color: #929292

.filterBox
    margin-right: 15px

    @media screen and (max-width: 1199px)   
        margin-bottom: 10px
        margin-right: 0px

.starFormatterWrapper
    top: 5px
    