.ag-theme-alpine
    width: 100%
    height: calc(100% - 50px)

    @media screen and (max-width: 1199px)
        height: calc(100% - 100px)


.filterFormControlLabel
    color: #929292


.starFormatterWrapper
    top: 5px
    