@import '../../colors'

.mainBox
  display: flex
  height: 100vh
  background-color: $common-background 

.dataContainer
  display: flex
  box-sizing: border-box
  padding-top: 2%

  .avatarImg
    width: 250px
    height: 250px
  
.infoBox
  box-sizing: border-box
  padding: 2%
  height: 100%

.leftBox
  width: 50%
  height: 100%
  padding: 1%
  box-sizing: border-box

.tabBox
  box-sizing: border-box
  padding: 1%
  height: 100%

.rightBox
  padding: 1%
  width: 50%
  height: 100%
  padding-left: 0
  box-sizing: border-box

.calendarBox
  box-sizing: border-box
  padding: 1%
  height: 100%

.bottomBox
  height: 60%
  box-sizing: border-box
  padding-top: 2%

.topBox      
  height: 40%
  box-sizing: border-box

