@import '../../colors'

.flexContainer
  display: flex
  box-sizing: border-box
  height: 100vh
  background-color: $common-background 

.internshipContentWrapper
  width: 33%
  height: 100%
  padding: 1%
  padding-right: 0
  box-sizing: border-box

.tableWrapper      
  height: 100%
  box-sizing: border-box

.InternshipDataText
  box-sizing: border-box
  padding: 1%
  height: 100%

.InternshipDataMentors
  box-sizing: border-box
  padding: 1%
  height: 100%

.InternshipDataEmployees
  box-sizing: border-box
  padding: 1%
  height: 100%
