.feedbackItem
  display: flex
  flex-direction: column
  margin-bottom: 30px

.titleSection
  height: 55px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.flexboxRow
  display: flex
  flex-direction: row
  align-items: center

.collapseContainer
  display: flex
  flex-direction: column
  padding: 30px

.feedbackTitle
  width: 50%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.roleTitle
  text-align: right
